body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    letter-spacing: 2%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: #FFFFFF;
}

ul,
ol {
    list-style-type: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.studio{

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.menu-items{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.menu-item:hover{
    color: #404BBF
}

.menu-item:active{
    color: #404BBF;
    text-decoration: underline;
}


.contacts {
    text-decoration: none;
    font-style: normal;
    color: #434455;
}

.contacts .contacts-link:focus {
    color: #404BBF;
}
.contacts .contacts-link:hover {
    color: #404BBF;
}

.main-section{
    background-color: #2E2F42;
}

.main-section-header {
    color: white;
    font-size: 56px;
    line-height: 1.07;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.02em;
}

.main-section-button{
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;

}

.main-section-button:hover{
    background-color: #404BBF;
}

.main-section-button:focus {
    background-color: #404BBF;
}

.section-header{
    font-weight: bold;
    size: 36px;
}

.section-text-header{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-team{
    background-color: #F4F4FD;
}

.our-team ul>li{
    background-color: #FFFFFF;
}

.our-team-header, .our-portfolio-header{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.our-team-member-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.our-team ul>li {
    background-color: #FFFFFF;
}

.portfolio-list{
    background-color: #FFFFFF;
}

.footer{
    background-color: #2E2F42;
}

.footer-logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
