body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    letter-spacing: 2%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration:none;
    font-style: normal;
    color: #434455;
}

.contacts .contacts-link:focus {
    color: #404BBF;
}
.contacts .contacts-link:hover {
    color: #404BBF;
}

.main-section{
    background-color: #2E2F42;
}

.main-section-header {
    color: white;
    font-size: 56px;
    line-height: 60px;
    font-weight: bold;
}

.main-section-button{
    background-color: #4D5AE5;
    color: white;
    font-weight: 500;
    letter-spacing: 4%;

}

.section-header{
    font-weight: bold;
    size: 36px;
}

.section-text-header{
    font-weight: medium;
    size: 20px;
}

.section-text{
    line-height: 1.5;
}